body {
  background-color: #DDDDDD;
}
.App {
  font-family: sans-serif;
  width: 100%;
  max-width: 720px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}
.App h1 {
  text-align: center;
}
.App h2 {
  text-align: center;
}
  
.actionContent {
  padding: 18px;
}

.actionHeading {
  border-radius: 2px;
  background-color: #DDDDDD;
  padding: 6px;
  margin-top: 0px;
  margin-bottom: 4px;
}

.actionText {
  padding: 12px;
}

.actionList li {
  margin-bottom: 6px;
}

.headingCheckbox {
  float: right;
  height: 18px;
  width: 18px;
}

.action {
  border: 1px solid #555555;
  border-radius: 2px;
  margin-bottom: 6px;
}